:root {
  font-size: 18px;
  --lightblue: #09f;
  --red: #f00;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

nav,
main,
header,
section,
footer {
  display: block;
}

header,
main,
footer {
  position: relative;
  width: 100%;
  padding: 1.1rem;
  text-align: center;
}

header {
  background: var(--black);
}

section {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.1rem;
  background: var(--lightblue);
  color: var(--white);
}

h1 {
  font-size: 3rem;
  color: var(--lightblue);
}

.m-3 {
  width: 25%;
  padding: 1rem;
}

.even .m-3:nth-child(even),
.odd .m-3:nth-child(odd) {
  background: var(--lightblue);
}

button {
  display: inline-block;
  margin: 0;
  padding: 0.8rem;
  background: transparent;
  position: relative;
  font-size: 0.8rem;
  font-weight: lighter;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: all 0.4s ease;
}

.even .m-3 button::before {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: -1;
  content: '';
  transition: all 0.5s ease;
}

.odd .m-3 button::before,
.odd .m-3 button::after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50%;
  content: '';
  transition: all 0.5s ease;
}

.odd .m-3 .button7::before,
.odd .m-3 .button7::after,
.odd .m-3 .button8::before,
.odd .m-3 .button8::after {
  width: 50%;
  height: 100%;
}

.button1,
.button6 {
  border-color: var(--lightblue);
}

.button1::before {
  bottom: -50%;
  left: -50%;
  background: var(--lightblue);
}

.button2,
.button5 {
  border-color: var(--red);
  color: var(--white);
}

.button2::before {
  bottom: -50%;
  right: -50%;
  background: var(--red);
}

.button3,
.button8 {
  border-color: var(--black);
}

.button3:hover {
  color: var(--white);
}

.button3::before {
  top: -50%;
  left: -50%;
  background: var(--black);
}

.button4,
.button7 {
  border-color: var(--white);
  color: var(--white);
}

.button4:hover {
  color: var(--black);
}

.button4::before {
  top: -50%;
  right: -50%;
  background: var(--white);
}

.button1:hover::before,
.button1:focus::before,
.button1:active::before,
.button2:hover::before,
.button2:focus::before,
.button2:active::before,
.button3:hover::before,
.button3:focus::before,
.button3:active::before,
.button4:hover::before,
.button4:focus::before,
.button4:active::before {
  width: 200% !important;
  height: 200% !important;
}

.button5::before,
.button6::before {
  top: 0;
  left: -110%;
}

.button5::after,
.button6::after {
  bottom: 0;
  right: -110%;
}

.button5::before,
.button5::after {
  background: var(--red);
}

.button6::before,
.button6::after {
  background: var(--lightblue);
}

.button5:hover::before,
.button5:focus::before,
.button5:active::before,
.button6:hover::before,
.button6:focus::before,
.button6:active::before {
  left: 0 !important;
}

.button5:hover::after,
.button5:focus::after,
.button5:active::after,
.button6:hover::after,
.button6:focus::after,
.button6:active::after {
  right: 0 !important;
}

.button7:hover {
  color: var(--black);
}

.button8:hover {
  color: var(--white);
}

.button7::before,
.button8::before {
  top: -110%;
  left: 0;
}

.button7::after,
.button8::after {
  bottom: -110%;
  right: 0;
}

.button7::before,
.button7::after {
  background: var(--white);
}

.button8::before,
.button8::after {
  background: var(--black);
}

.button7:hover::before,
.button7:focus::before,
.button7:active::before,
.button8:hover::before,
.button8:focus::before,
.button8:active::before {
  top: 0 !important;
}

.button7:hover::after,
.button7:focus::after,
.button7:active::after,
.button8:hover::after,
.button8:focus::after,
.button8:active::after {
  bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .m-3 {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  .m-3 {
    width: 100%;
  }

  footer {
    position: relative;
    bottom: auto;
    left: auto;
  }
}